<ion-modal-view style="min-height:450px">
	<ion-header-bar>
	  <h1 class="title">{{'change_network_password' | translate}}</h1>
	</ion-header-bar>
	<ion-content>
		<form ng-submit="changePassword()" class="login-form">
		  <div class="list">
			  <label class="item item-input" ng-repeat="item in passFields" ng-hide="item.Field.ReadOnly == 'true'">
			    <input type="{{ item.Field.Security}}" placeholder="{{ item.Label }}" value="{{ item.Field.DefaultValue}}" ng-model="passwordData[$index]">
			  </label>
			</div>

                    <div class="row">
                        <div class="col">
                            <button class="button button-full button-save button-positive col-75 button-group" type="submit" ng-disabled="!passwordData[0] || !passwordData[1] || !passwordData[2]">
                                {{'submit' | translate}}
                            </button>
                        </div>

                        <div class="col" ng-show="!canChange">
                            <button type="button" class="button button-full button-cancel col-75 button-group" ng-click="modalPassword.hide();cleanErr()">
                                {{'cancel' | translate}}
                            </button>
                        </div>

                        <div class="col" ng-show="canChange">
                            <button type="button" class="button button-full button-cancel col-75 button-group" ng-click="skipChange();cleanErr()">
                                {{'skip' | translate}}
                            </button>
                        </div>
                    </div>

			<!--<div class="row">
			  	<button type="submit" class="button button-full button-positive col">
			      {{'submit' | translate}}
			    </button>

			  	<button type="button" class="button button-full col" ng-click="modalPassword.hide()">
			      {{'cancel' | translate}}
			    </button>
		    </div>-->
                    
                    <div class="row" style="text-align:center;color:#ff6a00">
                        {{ passMsg }}
                    </div>
            </form>
	</ion-content>
</ion-modal-view>
